@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer components {
  .wrapper {
    @apply md:max-w-[1440px] w-[100%] mx-auto;
  }
}

@layer utilities {
  .root-px {
    @apply px-3 md:px-12;
  }
  .tr-all-300 {
    @apply transition-all duration-300;
  }
  .tr-transform-300 {
    @apply transition-transform duration-300;
  }
}
